In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import matplotlib as plt
import os
import sys

In [2]:
test_df = pd.read_csv("../data/SBAcase.11.13.17.csv")
test_df.head(20)

,Selected,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,...,ChgOffPrinGr,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,xx,Default
0,0,1004285007,SIMPLEX OFFICE SOLUTIONS,ANAHEIM,CA,92801,CALIFORNIA BANK & TRUST,CA,532420,15074,...,0,30000,15000,0,0,0.50,0,1080,16175.0,0
1,1,1004535010,DREAM HOME REALTY,TORRANCE,CA,90505,CALIFORNIA BANK & TRUST,CA,531210,15130,...,0,30000,15000,0,0,0.50,1,1680,17658.0,0
2,0,1005005006,"Winset, Inc. dba Bankers Hill",SAN DIEGO,CA,92103,CALIFORNIA BANK & TRUST,CA,531210,15188,...,0,30000,15000,0,0,0.50,0,1080,16298.0,0
3,1,1005535001,Shiva Management,SAN DIEGO,CA,92108,CALIFORNIA BANK & TRUST,CA,531312,15719,...,0,50000,25000,0,0,0.50,0,1080,16816.0,0
4,1,1005996006,"GOLD CROWN HOME LOANS, INC",LOS ANGELES,CA,91345,SBA - EDF ENFORCEMENT ACTION,CO,531390,16840,...,0,343000,343000,0,1,1.00,0,7200,24103.0,0
5,1,1006295003,Ronald Lee Roberts,SACRAMENTO,CA,95831,CALIFORNIA BANK & TRUST,CA,531210,15813,...,0,50000,25000,0,0,0.50,0,2520,18345.0,0
6,0,1015066002,SUPERIOR BROKERS REALTY,HUNTINGTON PARK,CA,90255,U.S. BANK NATIONAL ASSOCIATION,OH,531210,16841,...,247074,297500,223125,0,1,0.75,0,8070,24930.0,1
7,0,1015266003,LIBERTY REALTY CO,LONG BEACH,CA,90808,JPMORGAN CHASE BANK NATL ASSOC,NV,531210,16841,...,0,30000,15000,1,0,0.50,0,2520,19380.0,0
8,0,1018975003,"SOUTHLAND MGT., CO.",SANTA ANA,CA,92704,BANK OF AMERICA NATL ASSOC,NC,531390,16252,...,35333,50000,25000,0,0,0.50,0,660,16943.0,1
9,1,1022515008,"AMR Appraisals, Inc.",SAN RAMON,CA,94583,BANK OF AMERICA NATL ASSOC,NC,531320,16264,...,0,10000,5000,1,0,0.50,0,2520,18834.0,0
10,1,1030805001,Global Parties Inc. dba Party,THOUSAND OAKS,CA,91360,BANK OF AMERICA NATL ASSOC,NC,532299,16281,...,47211,50000,25000,0,0,0.50,0,1920,18234.0,1
11,1,1033135007,Mitchell J Kemp dba Pacific Co,SAN FRANCISCO,CA,94103,BANK OF AMERICA NATL ASSOC,NC,531312,16286,...,0,14000,7000,0,0,0.50,0,2520,18834.0,0
12,0,1035365010,"Tenant Guarantors, Inc",GRANITE BAY,CA,95746,BANK OF AMERICA NATL ASSOC,NC,531311,16289,...,0,25000,12500,0,0,0.50,0,2520,18834.0,0
13,1,1038956001,SMOOTH AS SATIN ENTERPRISES IN,VALENCIA,CA,91354,JPMORGAN CHASE BANK NATL ASSOC,IL,531210,16846,...,29700,30000,15000,1,0,0.50,0,2280,19201.0,1
14,1,1039435004,GIUSEPPE & GRAZIA PENNISI DBA,BUTTE VALLEY,CA,95965,BANK OF AMERICA NATL ASSOC,NC,531312,16295,...,0,30000,15000,0,0,0.50,0,1800,18114.0,0
15,1,1040106003,C&C FINANCIAL CORP,BURBANK,CA,91505,WELLS FARGO BANK NATL ASSOC,SD,531210,16847,...,0,25000,12500,1,0,0.50,0,1800,19025.0,0
16,1,1040115010,Richard S. Fletcher dba Richar,LIVERMORE,CA,94550,BANK OF AMERICA NATL ASSOC,NC,531210,16296,...,0,20000,10000,0,0,0.50,0,2520,18834.0,0
17,0,1041204008,"RED AND BLUE, INC.",SAN DIEGO,CA,92101,U.S. BANK NATIONAL ASSOCIATION,CA,532111,13590,...,0,1000000,750000,0,1,0.75,0,9000,22634.0,0
18,1,1045135004,DORIS JEANNE HARDER DBA HARDER,WOODLAND,CA,95695,BANK OF AMERICA NATL ASSOC,NC,531210,16306,...,9709,10000,5000,1,0,0.50,0,1140,17454.0,1
19,1,1046615008,"Java Enterprises, Inc dba Amer",TARZANA,CA,91356,BANK OF AMERICA NATL ASSOC,NC,532299,16307,...,0,10000,5000,0,0,0.50,0,2520,18864.0,0

In [3]:
test_df.mean(numeric_only=True)

Selected             5.000000e-01
LoanNr_ChkDgt        4.469172e+09
Zip                  9.269861e+04
NAICS                5.316309e+05
ApprovalDate         1.617959e+04
ApprovalFY           2.004036e+03
Term                 1.269805e+02
NoEmp                1.015081e+01
NewExist             1.153736e+00
CreateJob            2.549952e+00
RetainedJob          5.803996e+00
FranchiseCode        1.961758e+03
UrbanRural           9.495718e-01
ChgOffDate           1.822482e+04
DisbursementDate     1.626427e+04
DisbursementGross    2.427372e+05
BalanceGross         0.000000e+00
ChgOffPrinGr         2.002908e+04
GrAppv               2.330641e+05
SBA_Appv             1.891759e+05
New                  1.541389e-01
RealEstate           2.745005e-01
Portion              6.710547e-01
Recession            6.850618e-02
daysterm             3.809415e+03
xx                   2.007690e+04
Default              3.263559e-01
dtype: float64

In [4]:
test_df.median(numeric_only=True)

Selected             5.000000e-01
LoanNr_ChkDgt        3.621730e+09
Zip                  9.255950e+04
NAICS                5.313120e+05
ApprovalDate         1.655600e+04
ApprovalFY           2.005000e+03
Term                 8.400000e+01
NoEmp                3.000000e+00
NewExist             1.000000e+00
CreateJob            0.000000e+00
RetainedJob          2.000000e+00
FranchiseCode        1.000000e+00
UrbanRural           1.000000e+00
ChgOffDate           1.830200e+04
DisbursementDate     1.664800e+04
DisbursementGross    1.000000e+05
BalanceGross         0.000000e+00
ChgOffPrinGr         0.000000e+00
GrAppv               6.100000e+04
SBA_Appv             4.168000e+04
New                  0.000000e+00
RealEstate           0.000000e+00
Portion              5.000000e-01
Recession            0.000000e+00
daysterm             2.520000e+03
xx                   1.927000e+04
Default              0.000000e+00
dtype: float64